* {
  font-family: 'sans';
  margin: 0;
  padding: 0;
  text-decoration: none;
  transition: 0.5s ease;
  border-radius: 0.25em;
  font-weight: bold;
  color: #AAA6A6;
}

body {
  background: #121212;
  display: grid;
}

/* Bar */
header {
  margin-bottom: 5em;
}
nav {
  transition: none;
  position: fixed;
  width: 95vw;
  background: #151515;
  display: flex;
  justify-content: space-between;
  padding: 0 2.5vw;
}

/* WordList */
section {
  padding: 2em;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(3, 1fr);
}

/* WordCards */
div {
  display: grid;
  grid-gap: 1em;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, .1);
  background: #151515;
}

h3 {
  padding: 2em;
  color: #E8E3E3;
}

b {
  color: #E8E3E3;
}

p {
  padding: 0 3em;
}

button {
  border: none;
  background: #151515;
  color: #747272;
  font-size: 1em;
  padding: 2em;
}

button:hover {
  color: #E8E3E3;
}

.save {
  background: #181818;
}

.hide {
  display: none;
}

.active {
  color: #E8E3E3;
}

/* Footer */
footer {
  background: #151515;
  justify-content: center;
  display: flex;
}

@media screen and (max-width: 1000px) {
  section {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 800px) {
  section {
    grid-template-columns: 1fr;
  }
}
